In [1]:
from personal_killer_tick.tick import KillTick
import pandas as pd

In [2]:
client = KillTick()

In [3]:
raw_clients = client.get_clients()

In [4]:
raw_projects = client.get_projects()

In [5]:
raw_tasks = client.get_tasks()

In [6]:
raw_entries = client.get_entries(start_date="2022-07-01", end_date="2022-07-10")

In [7]:
# 1. Seleccionar las columnas necesarias
# 2. Unir Clientes, proyectos, tareas y entradas por ID
# 3. Calcular el total de horas el el periodo

clients = (raw_clients
           .query('archive == False')
           .loc[:, ['id', 'name']])
projects = (raw_projects
            .loc[:, ['id', 'name', 'client_id']])
tasks = (raw_tasks
         .loc[:, ['id', 'name', 'project_id']])
entries = (raw_entries
           .loc[:, ['id', 'date', 'hours', 'notes', 'task_id']])

In [8]:
entries.merge(tasks, left_on='task_id', right_on='id', how='left')

        id_x        date  hours notes   task_id  id_y name  project_id
0  105707435  2022-07-08    8.0        16817814   NaN  NaN         NaN
1  105707433  2022-07-07    8.0        16817814   NaN  NaN         NaN
2  105707432  2022-07-06    8.0        16817814   NaN  NaN         NaN
3  105707430  2022-07-05    8.0        16817814   NaN  NaN         NaN
4  105707427  2022-07-04    8.0        16817814   NaN  NaN         NaN
5  105180837  2022-07-01   14.0        16817814   NaN  NaN         NaN